* {
  touch-action: manipulation;
  -o-touch-action: manipulation;
  -moz-touch-action: manipulation;
  -webkit-touch-action: manipulation;
  -o-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #000;
}

audio {
  display: none;
}

#welcome {
  color: white;
  font-size: 24px;
  text-align: center;
  text-shadow: #000;
  font-family: Verdana, Helvetica, sans-serif, Tahoma, sans-serif;
  animation: glowWelcome 1s ease-in-out infinite alternate;
  -o-animation: glowWelcome 1s ease-in-out infinite alternate;
  -moz-animation: glowWelcome 1s ease-in-out infinite alternate;
  -webkit-animation: glowWelcome 1s ease-in-out infinite alternate;
}

@keyframes glowWelcome {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #33ccff, 0 0 20px #33ccff, 0 0 25px #33ccff, 0 0 30px #33ccff;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #4499ff, 0 0 30px #4499ff, 0 0 35px #4499ff, 0 0 40px #4499ff;
  }
}

/* ##### start media buttons ##### */
.ct-btn {
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: center;
}

.media-button {
  width: 200px;
  height: 60px;
  cursor:pointer;
  font-size: 20px;
  border-radius: 4px;
  letter-spacing: 2px;
  font-family: Verdana, Helvetica, sans-serif, Tahoma, sans-serif;
}

.heart-bit-neon-inactive {
  color: #fff;
  border: 0px solid #ff5a5a;
  background-color: #ff5a5a;
}

.heart-bit-neon {
  color: #fff;
  border: 0px solid #ff5a5a;
  background-color: #ff5a5a;
  animation: heartBit 1.2s infinite;
  -webkit-animation: heartBit 1.2s infinite;
}

@keyframes heartBit {
  0%, 30% {-webkit-box-shadow: 0px 0px 30px 10px #ff5a5a;box-shadow: 0px 0px 30px 10px #ff5a5a;}
  40%,50% {-webkit-box-shadow: 0px 0px 30px 20px #ff5a5a;box-shadow: 0px 0px 30px 20px #ff5a5a;}
  100% {-webkit-box-shadow: 0px 0px 30px 0px #ff5a5a;box-shadow: 0px 0px 30px 0px #ff5a5a;}
}

@-webkit-keyframes heartBit {
  0%, 30% {-webkit-box-shadow: 0px 0px 30px 10px #ff5a5a;box-shadow: 0px 0px 30px 10px #ff5a5a;}
  40%,50% {-webkit-box-shadow: 0px 0px 30px 20px #ff5a5a;box-shadow: 0px 0px 30px 20px #ff5a5a;}
  100% {-webkit-box-shadow: 0px 0px 30px 0px #ff5a5a;box-shadow: 0px 0px 30px 0px #ff5a5a;}
}

.change-button {
  cursor: pointer;
  margin-top: 25px;
  display: inline-block;
  border: 0px solid #000;
  background-color: transparent;
}

.change-button:focus
{
  display: inline-block;
  animation: rotateBit 1.2s;
  -o-animation: rotateBit 1.2s;
  -moz-animation: rotateBit 1.2s;
  -webkit-animation: rotateBit 1.2s;
}

.change-button-hide
{
  display: none;
}

@keyframes rotateBit {
  0%, 50% {display: inline-block;transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  50%,100% {display: inline-block;transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg);}
}

@-o-keyframes rotateBit {
  0%, 50% {display: inline-block;transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  50%,100% {display: inline-block;transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg);}
}

@-moz-keyframes rotateBit {
  0%, 50% {display: inline-block;transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  50%,100% {display: inline-block;transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg);}
}

@-webkit-keyframes rotateBit {
  0%, 50% {display: inline-block;transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  50%,100% {display: inline-block;transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg);}
}
/* ##### end media buttons ##### */