* {
  touch-action: manipulation;
  -o-touch-action: manipulation;
  -moz-touch-action: manipulation;
  -webkit-touch-action: manipulation;
  -o-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #000;
}

audio {
  display: none;
}

/* ##### start media buttons ##### */
.ct-btn {
  margin:20px;
  display: flex;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: center;
}

.media-button {
  width: 160px;
  height: 60px;
  cursor:pointer;
  font-size: 20px;
  border-radius: 4px;
  font-family: lato;
}

.heart-bit-neon-inactive {
  color: #fff;
  border: 0px solid #ff5a5a;
  background-color: #ff5a5a;
}

.heart-bit-neon {
  color: #fff;
  border: 0px solid #ff5a5a;
  background-color: #ff5a5a;
  animation: heartBit 1.2s infinite;
  -webkit-animation: heartBit 1.2s infinite;
}

@keyframes heartBit {
  0%, 30% {-webkit-box-shadow: 0px 0px 30px 10px #ff5a5a;box-shadow: 0px 0px 30px 10px #ff5a5a;}
  40%,50% {-webkit-box-shadow: 0px 0px 30px 20px #ff5a5a;box-shadow: 0px 0px 30px 20px #ff5a5a;}
  100% {-webkit-box-shadow: 0px 0px 30px 0px #ff5a5a;box-shadow: 0px 0px 30px 0px #ff5a5a;}
}

@-webkit-keyframes heartBit {
  0%, 30% {-webkit-box-shadow: 0px 0px 30px 10px #ff5a5a;box-shadow: 0px 0px 30px 10px #ff5a5a;}
  40%,50% {-webkit-box-shadow: 0px 0px 30px 20px #ff5a5a;box-shadow: 0px 0px 30px 20px #ff5a5a;}
  100% {-webkit-box-shadow: 0px 0px 30px 0px #ff5a5a;box-shadow: 0px 0px 30px 0px #ff5a5a;}
}

.change-button {
  display: inline-block;
  cursor: pointer;
  margin-top: 40px;
  border: 0px solid #000;
  background-color: transparent;
}

.change-button:focus
{
  display: inline-block;
  animation: rotateBit 1.2s;
  -o-animation: rotateBit 1.2s;
  -moz-animation: rotateBit 1.2s;
  -webkit-animation: rotateBit 1.2s;
}

@keyframes rotateBit {
  0%, 50% {display: inline-block;transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  50%,100% {display: inline-block;transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg);}
}

@-o-keyframes rotateBit {
  0%, 50% {display: inline-block;transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  50%,100% {display: inline-block;transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg);}
}

@-moz-keyframes rotateBit {
  0%, 50% {display: inline-block;transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  50%,100% {display: inline-block;transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg);}
}

@-webkit-keyframes rotateBit {
  0%, 50% {display: inline-block;transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  50%,100% {display: inline-block;transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg);}
}
/* ##### end media buttons ##### */